@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .notch-right {
    --notch: 32px;
    --notch-x: 100%;

    -webkit-mask: radial-gradient(circle var(--notch) at var(--notch-x) 50%,
        transparent 0 calc(var(--notch) - 0.5px),
        #000 calc(var(--notch) + 0.5px));
    mask: radial-gradient(circle var(--notch) at var(--notch-x) 50%,
        transparent 0 calc(var(--notch) - 0.5px),
        #000 calc(var(--notch) + 0.5px));
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
